.box {
  display: flex;
  margin: 50px 0;
}

#box__red {
  display: none;
  width: 100px;
  height: 100px;
  background: rgb(215, 36, 0);
}
#box__yellow {
  display: none;
  width: 100px;
  height: 100px;
  background: rgb(220, 212, 0);
  margin: 0 50px;
}
#box__blu {
  display: none;
  width: 100px;
  height: 100px;
  background: rgb(0, 86, 215);
}
